.mini-card-container {
    padding: 1% 2%;
    width: 24%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-card-title {
    font-size: 1.5em;
    padding: 10px 0px;
}

.mini-card-img {

}

.mini-card-desc {

}

.mini-card-btn {

}